body {
    width: 100%;
    margin: auto;
    font-family: poppins;
    font-size: 18px;
    scroll-behavior: smooth;
    display: grid;
    place-content: center;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #000000;
    min-height: 70px;
    box-shadow: 2px 0px 20px #0000001a;
}

@media screen and (max-width: 765px) {
    nav {
        display: none !important;
    }


}

picture > img {
    width: 45px;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}

.megamenu {
    position: relative;
    cursor: pointer;
}

.megamenu > a, nav > div > a {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #ffffff;
    text-decoration: none;
}

.megamenu > a > img {
    width: 10px;
    margin-left: -15px;
}

.submenu > a, .mm, .mm-sub > a {
    display: block;
    font-size: 14px;
    padding: 12px 20px;
    color: #ffffff;
    text-decoration: none;
    transition: all 150ms ease-in-out 100ms;
}

.submenu a:hover, .mm:hover {
    background-color: #222222;
}

.submenu {
    visibility: hidden;
    opacity: 0;
    margin-top: 7px;
    
}

.submenu, .mm-sub {
    position: absolute;
    width: 140px;
    min-height: 80px;
    box-shadow: 0px 0px 20px #0000001a;
    background-color: #000000;
    border-radius: 6px;
    transition: opacity 50ms ease-in-out 10ms;
}

.megamenu:hover .submenu {
    visibility: visible;
    opacity: 1;
}

.mm {
    position: relative;
}

.mm > img {
    width: 10px;
}

.mm > .mm-sub {
    left: 140px;
    visibility: hidden;
    opacity: 0;
    margin-top: -31px;
}

.mm:hover .mm-sub {
    visibility: visible;
    opacity: 1;
}

.mm-sub > a {
    display: block;
}

.mbtns {
    display: flex;
    gap: 10px;
    align-items: center;
    /* width: 45%; */
}

.nav-btn {
    background-color: #ffffff;
    padding: 14px 32px;
    border: solid 1.5px #ffffff;
    border-radius: 100px;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    transition: all 0.3s;
}

.nav-btn:hover {
    background-color: #000000;
    color: #ffffff;
}

.hamburger, .m-nav {
    display: none;
}

@media screen and (max-width: 765px) {
    .hamburger, .m-nav {
        display: block !important;
        height: 100%;
    }

    .hamburger {
        cursor: pointer;
        z-index: 999;
      }
      
      .hamburger .line {
        display: block;
        width: 25px;
        height: 3px;
        border-radius: 100px;
        background-color: #ffffff;
        transition: all 0.3s;
      }
      
      .hamburger .line1 {
        transform: translateY(-5px);
      }
      
      .hamburger .line3 {
        transform: translateY(5px);
      }
      
      .m-nav {
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: rgb(0, 0, 0);
        top: 0;
        left: 0;
        transform: translateX(100%);
        transition: all 0.3s;
      }
      
      .m-nav-list {
        position: absolute;
        left: 5%;
        top: 5%;
        width: 95vw;
        list-style: none;
      }
      
      .m-nav-list .mobile-main-menu, .m-nav-list .mobilesubmenu a {
        transform: translateX(-20px);
        opacity: 0;
        transition: all 0.3s;
      }
      
      .m-nav-list .mobilesubmenu:not(:last-child) {
        margin-bottom: 2em;
      }
      
      .m-nav-list .mobilesubmenu a {
        text-decoration: none;
        position: relative;
        display: block;
        color: #6d6d6d;
        font-size: 1.4rem;
        margin-block: 20px;
        transition: all 200ms ease-in-out 100ms;
      }

      .m-nav-list .mobilesubmenu a:hover, .mobile-about-submenu:hover {
        color: #c9c9c9;
        transform: translateX(10px) !important;
      }
      
      .hamburger.clicked .line {
        background-color: #dddddd;
      }
      
      .hamburger.clicked .line1 {
        transform: translateY(3px) rotate(-135deg);
      }
      
      .hamburger.clicked .line2 {
        opacity: 0;
      }
      
      .hamburger.clicked .line3 {
        transform: translateY(-3px) rotate(135deg);
      }
      
      .m-nav.show {
        transform: translateX(0);
      }
      
      .m-nav.show .m-nav-list .mobile-main-menu, .m-nav.show .m-nav-list .mobilesubmenu a {
        transform: translateX(0);
        opacity: 1;
        transition-delay: 0.3s;
      }

}

.mobile-main-menu {
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  width: 70%;
  padding: 12px 30px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.6rem;
  transition: 0.3s;
}

/* .active, .mobile-main-menu:hover {
  background-color: #ccc;
  color: #222222;
} */

.mobilesubmenu {
  padding: 0 35px;
  max-height: 0;
  min-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-out;
}

.mobilesubsubmenu {
  padding: 0 20px;
  max-height: 0;
  color: #222222;
  overflow: hidden;
  transition: all 0.2s ease-out;
}

.mobile-about-submenu {
  font-size: 1.4rem;
  cursor: pointer;
  color: #6d6d6d;
  width: 100%;
  margin: auto !important;
  text-align: left;
  transition: 0.4s;
}

.mot-box:checked ~ .mobilesubsubmenu {
  max-height: 150px;
}

.mot-box, .menu-box1, .menu-box2, .menu-box3 {
  display: none !important;
}

.menu-box1:checked ~ .chk1 {
  max-height: 250px;
}

.menu-box2:checked ~ .chk2 {
  max-height: 250px;
}

.menu-box3:checked ~ .chk3 {
  max-height: 150px;
}

/* .mobilesubsubmenu {
  padding: 0 25px;
  
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
} */

.mobilesubsubmenu > a {
  transition: all 150ms ease-in-out 150ms !important;
}

.mobilesubsubmenu > a:hover {
  color: #ffffff !important;
  transform: scale(-0.8);
}

.one, .two, .three, .four, .five {
    display: block;
    max-width: 1330px;
    min-height: 500px;
    margin: auto;
}

.three {
  background-color: pink;
}

.four {
  background-color: orange;
}

.five {
  background-color: red;
}

.pri-btn {
  color: #ffffff;
  text-decoration: none;
  background-color: #000000;
  border: solid 2px #000000;
  padding: 14px 31px;
  border-radius: 50px;
  transition: 0.3s;
}

.pri-btn:hover {
  background-color: #ffffff;
  color: #000000;
}

.sec-btn {
  color: #000000;
  text-decoration: none;
  background-color: #ffffff;
  border: solid 2px #000000;
  padding: 14px 31px;
  border-radius: 50px;
  transition: 0.3s;
}

.sec-btn:hover {
  background-color: #000000;
  color: #ffffff;
}